.imagem ,.imagem1{
    width: 500px;

}
.certificaçao {
    display:inline-flex;
}

.imagem-az {
    width: 500px;
}
.azure {
display: inline-flex;


}
.imagem-az1{
    width: 500px;
}
.imagem-az2{
    width: 500px;
}
.imagem-az3{
    width: 500px;
}
.azure-2 {
    display: inline-flex;
}
.imagem-az4{
    width: 500px;
}
.imagem-az5{
    width: 500px;
}
.imagem-az6{
    width: 500px;
}
.imagem-az7{
    width: 500px;
}
.azure-3 {
    display: inline-flex;
}
.imagem-az8 {
    width: 500px;
}
.imagem-az9 {
    width: 500px;
}
.imagem-lin {
    width: 500px;
}

.img-cyb{
    display: inline-flex;
}
.imagem-cyber1{
    width: 500px;
    
}
.imagem-cyber2{
    width: 500px;
}
.img-html-css {
    display: inline-flex;
}
.imagem-html{
    width: 500px;
}
.logo{
   
    font-size: 24px;
    text-transform: uppercase;
letter-spacing: 4px;
}
.nav-list {
    list-style: none;
    display: flex;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background: #23232e;
height: 8vh;

}
.nav-list li {
    letter-spacing:3px;
    margin-left: 32px;
}
.desenvh3 {
    color: blueviolet;
}
